* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
}

header {
    height: 70px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.05) 0px 2px 12px 0px;
    border-bottom: 1px solid rgba(99, 99, 99, 0.16);
    display: flex;
    align-items: center;
    float: right;
    flex-direction: row-reverse;
}

nav {
    float: right;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #424242;
    padding: 0 20px;
    font-size: 18px;
}

h1 {
    font-weight: 400;
}