.multiple-input {
    display: flex;
    justify-content: space-between;
}

.multiple-input input {
    width: 48% !important;
}

.log-in .column-60 form input {
    margin-bottom: 40px;
}

.log-in .alternative_log-in {
    margin-top: 5vh;
}

.sign-in_no-account {
    margin-top: 3vh !important;
}

.sign-up_title h1 {
    margin-top: 4vh;
    font-weight: 500;
    font-size: 32px;
    color: #183153;
}

.sign-up_form {
    margin-top: 4vh !important;
}

.input_god {
    margin-bottom: 30px !important;
}

.sign-in_button {
    margin-top: 0 !important;
}