*{
    margin:0 ; box-sizing:border-box;
}

#index-body{
    font-family: "Archivo", sans-serif;
}

.chosing-section{
    position: fixed;
    top: 0%;
    left: 0%;
    height: 720px;
    width: 30%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.logo-page{
    width: 20%;
    margin-top: 10px;
}


.logo-text{
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    margin-left: 70px;
    margin-top: -55px;
    color: #183153;
}

.chosing-div{
    float: left;
    width: 94%;
    height: 60px;
    border-radius: 40px;
    margin-left: 3%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.chosing-div p{
    margin-top: 20px;
    margin-left: 30px;
    font-weight: 700;
}

#clicked-profilo{
    background-color: #FFD43B;
    border: 1px solid black;
    color: #183153;
}

#clicked-pagamento{
    background-color: #C4C4C41A;
    color: #C4C4C4;
}


#clicked-prodotti{
    background-color: #C4C4C41A;
    color: #C4C4C4;
}

#clicked-record{
    background-color: #C4C4C41A;
    color: #C4C4C4;
}

.account-data-section{
    width: 70%;
    float: right;
    height: 720px;
}

.your-profile{
    width: 100%;
    height: auto;
}

.page-title{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    color: #183153;
}

.profile-image{
    margin-top: 30px;
    width: 190px;
    height: 190px;
    margin-left: 445px;
    border-radius: 130px;
}

.username{
    text-align: center;
    margin-top: 15px;
    color: #183153;
}

.data-name{
    font-size: 25px;
    font-weight: 500;
    margin-top:60px;
    margin-left: 12%;
    color: #183153;
}

.user-data-section{
    float: right;
    width: 60%;
    height: 60px;
    border-radius: 40px;
    margin-right: 15%;
    margin-top: -45px;
    padding-left: 25px;
    font-size: 20px;
    background-color: #C4C4C41A;
    border:1px solid #C4C4C41A;
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.name{
    float: left;
    font-size: 25px;
    font-weight: 500;
    margin-top: 90px;
    margin-left: 5%;
    color: #183153;
}

.name-data-section{
    float: left;
    width: 20%;
    height: 60px;
    border-radius: 40px;
    margin-left: 1%;
    margin-top: 5.5%;
    padding-left: 25px;
    font-size: 20px;
    font-family: inherit;
    background-color: #C4C4C41A;
    border:1px solid #C4C4C41A;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.surname{
    float: right;
    font-size: 25px;
    font-weight: 500;
    margin-top: 75px;
    margin-right: 1%;
    color: #183153;
}

.surname-data-section{
    float: right;
    width: 20%;
    height: 60px;
    border-radius: 40px;
    margin-right: 5%;
    margin-top: 5.5%;
    padding-left: 25px;
    font-size: 20px;
    background-color: #C4C4C41A;
    border:1px solid #C4C4C41A;
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.e-mail{
    float: left;
    font-size: 25px;
    font-weight: 500;
    margin-top: 190px;
    margin-left: -28%;
    color: #183153;
}

.e-mail-data-section{
    float: left;
    width: 40%;
    height: 60px;
    border-radius: 40px;
    margin-left: -19.5%;
    margin-top: 16%;
    padding-left: 25px;
    font-size: 20px;
    background-color: #C4C4C41A;
    font-family: inherit;
    border:1px solid #C4C4C41A;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.sessoM{
    float: left;
    font-size: 25px;
    font-weight: 500;
    margin-top: 90px;
    margin-left: 15%;
    color: #183153;
}

.sessoM-data-section{
    float: left;
    width: 10%;
    height: 20px;
    border-radius: 40px;
    margin-left: -1.5%;
    margin-top: 7.2%;
    padding-left: 25px;
    font-size: 20px;
    background-color: #C4C4C41A;
    border:1px solid #C4C4C41A;
}

.sessoF{
    float: left;
    font-size: 25px;
    font-weight: 500;
    margin-top: 75px;
    margin-left: 2%;
    color: #183153;
}

.sessoF-data-section{
    float: left;
    width: 10%;
    height: 20px;
    border-radius: 40px;
    margin-left: -1.5%;
    margin-top: 7.2%;
    padding-left: 25px;
    font-size: 20px;
    background-color: #C4C4C41A;
    border:1px solid #C4C4C41A;
}

.number{
    float: left;
    font-size: 25px;
    font-weight: 500;
    margin-top: 180px;
    margin-left: -87.5%;
    color: #183153;
}

.suffisso{
    float: left;
    width: 10%;
    height: 60px;
    border-radius: 40px 0px 0px 40px;
    margin-left: -76%;
    margin-top: 15.5%;
    padding-left: 25px;
    font-size: 20px;
    background-color: #C4C4C41A;
    font-family: inherit;
    color: #727272;
    border:1px solid #C4C4C41A;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.number-data-section{
    float: left;
    width: 30%;
    height: 60px;
    border-radius: 0px 40px 40px 0px;
    margin-left: -66%;
    margin-top: 15.5%;
    padding-left: 25px;
    font-size: 20px;
    background-color: #C4C4C41A;
    font-family: inherit;
    border:1px solid #C4C4C41A;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.eta{
    float: right;
    font-size: 25px;
    font-weight: 500;
    margin-top: 75px;
    margin-right: 1%;
    color: #183153;
}

.eta-data-section{
    float: right;
    width: 20%;
    height: 60px;
    border-radius: 40px;
    margin-right: 5%;
    margin-top: 5.5%;
    padding-left: 25px;
    font-size: 20px;
    background-color: #C4C4C41A;
    border:1px solid #C4C4C41A;
    font-family: inherit;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.space{
    float: left;
    width: 100%;
    height: 40px;
    margin-top: 1%;
}

#account-section{
    display: block;
}

#payment-section{
    display: none;
}

.credit-card_div{
    float: left;
    width: 90%;
    height: auto;
    background-color: #C4C4C41A;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 40px;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 1%;
}

.card-image{
    float: left;
    width: 20%;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
}

.card-number{
    float: left;
    font-size: 35px;
    color: #183153;
    margin-top: 3%;
    margin-left: 7%;
}

.card-owner{
    float: left;
    font-size: 25px;
    color: #183153;
    margin-top: 12%;
    margin-left: -27%;
}

.scroll-cards{
    width: auto;
    height: auto;
    overflow-y: auto;
}

#trash-can{
    float: right;
    margin-top: 6.5%;
    font-size: 35px;
    color: #183153;
    margin-right: 7%;
}

#add-card{
    margin-left: 34%;
    font-size: 40px;
    color: #183153;
    margin-bottom: 2%;
    margin-top: 1.2%;
}

.bottom-div{
    position: fixed;
    top: 90%;
    left: 30%;
    width: 100%;
    height: 10%;
}

#record-section{
    display: none;
}

.div-title{
    margin-top: 70px;
    font-size: 25px;
    text-align: center;
    color: #183153;
}

.record-effettuate{
    float: left;
    width: 80%;
    height: 30%;
    background-color: #C4C4C41A;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-top: 30px;
    margin-left: 10%;
    border-radius: 40px;
}

.aste-partecipate{
    position: absolute;
    margin-top: 1.5%;
    margin-left: 4%;
    font-size: 20px;
    font-weight: 500;
    color: #183153;
    margin-bottom: 2%;
}

.aste-partecipate_number{
    position: absolute;
    margin-top: 1.6%;
    margin-left: 20%;
    color:#727272;
}

.aste-vinte{
    position: absolute;
    margin-top: 1.5%;
    margin-left: 40%;
    font-size: 20px;
    font-weight: 500;
    color: #183153;
    margin-bottom: 2%;
}

.aste-vinte_number{
    position: absolute;
    margin-top: 1.6%;
    margin-left: 51%;
    color:#727272;
}

.totale-offerte{
    position: absolute;
    margin-top: 4%;
    margin-left: 4%;
    font-size: 20px;
    font-weight: 500;
    color: #183153;
    margin-bottom: 2%;
}

.totale-offerte_number{
    position: absolute;
    margin-top: 4.1%;
    margin-left: 20%;
    color:#727272;
}

.aste-perse{
    position: absolute;
    margin-top: 4%;
    margin-left: 40%;
    font-size: 20px;
    font-weight: 500;
    color: #183153;
    margin-bottom: 2%;
}

.aste-perse_number{
    position: absolute;
    margin-top: 4.1%;
    margin-left: 51%;
    color:#727272;
}

#prodotti-section{
    display: none;
}

.prodotti-div{
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    height: auto;
    background-color: #C4C4C41A;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.img-prodotto{
    float: left;
    width: 20%;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 3%;
}

.product-info-text{
    float: left;
    width: 20%;
    margin-left: 5%;
}

.product-info-data{
    float: right;
    width: 13%;
    margin-right: 5%;
}

.nome_creatore{
    float: left;
    margin-left: 3%;
    margin-top: 17%;
    font-size: 20px;
    color: #183153;
}

.nome_creatore_data{
    float: right;
    margin-right: 17%;
    margin-top: 27%;
    font-size: 20px;
    color: #727272;
}
